.gallery {
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 300px;
}
.gallery:hover {
    border: 3px solid blue;
}

.gallery img {
    width: 100%;
    height: 250px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.sprite { 
    background-image: url(images/image\ \(2\).png)
}

.engineer {
    width: 500px;
    display: inline-block;
    background-position: 0 0;
    height: 500px;
} 


.hipsters {
    width: 500px;
    display: inline-block;
    background-position: -500px 0px;
    height: 500px;
} 
.shadows {
    width: 500px;
    display: inline-block; 
    background-position: 0px -500px;
    height: 500px;
} 

.speedsters {
    width: 500px;
    display: inline-block;
    background-position: -500px -500px;
    height: 500px;
} 
p[class*="ds"] {
    background-color: blue;
    padding: 20px;
    color: white;

}
div[class~="ds"] {
     background-color: aquamarine;
    padding: 30px;
     color: white;}
 input[placeholder$="Name"]{
    border: 2px solid red;
}