.gallery {
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 300px;
}
.gallery:hover {
    border: 3px solid blue;
}

.gallery img {
    width: 100%;
    height: 250px;
}

.desc {
    padding: 15px;
    text-align: center;
}