table {
    padding: 10px;
    margin: 50px ;
    border: 5px solid black
    
}
td , th
{
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
}
div { 
    text-align: left;
    font-size: 50px ;
    color: black;
    margin-top: 10px ;
}

table{ 
    background-color: rgb(255, 240, 247);
    
}
