#test-div { 
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    color: black;
    border-radius: 50px;
   /* transform:scale(2.3) */
   /* transform:scaleX(2); */
   /* transform:scaleY(2); */
   /* transform: skewX(35deg); */
   /* transform: skewY(20deg); */


}
#transition{ 
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    transition: background 3s , border-radius 3s;

    
}
#transition:hover{
    background-color: blue;
    border-radius: 100px;
}

#engineers img {
    transform: rotate(25deg);
    border-radius: 100px;
    width: 250px;
    height: 150px;    

}

#engineers:hover img { 
    filter: grayscale(0);
    /* transform: rotate(20deg); */
}
#hipsters img{
    margin-left: 0px;
    transition: 3s ease-in-out ;
}

#hipsters:hover img {
    margin-left: 30px;

}

#shadows img {
    filter: blur(3px);
    transition: 3s ease-in-out;
}

#shadows:hover img { 
    filter: blur(0);
}
#speedsters img{
    transform: scale(1);
    transition: 3s ease-in-out; }
    
    #speedsters:hover{
        transform:scale(1,2);
    }