table {
    border: 3px solid black;
    margin: 50px;
padding: 15px;
      background-color: aquamarine;

}
th , td {
    border: 2px solid black ;

  padding: 15px;
    margin: 15px;
    margin-left: 10px;

    font-size: 15px;
    color: darkblue; 
}




  
#test-div { 
transform: scale( 5,1 );
position: relative;
background-color: lightcoral;
width: 100px;
height: 50px;
color:black;
}
#tooltip {
position: absolute;
transform: translate(80px , 50px);
background-color: red;
width: 100px;
height: 100px;
color:black;

} 

#div1 {
  position:fixed; 
background-color: lightseagreen;
width: 45px;
height: 55px;
color:chartreuse;
transform: rotate(90deg);
text-align: center;

}