table {
    border: 3px solid black;
    margin: 50px;
padding: 15px;
      background-color: aquamarine;

}
th , td {
    border: 2px solid black ;

  padding: 15px;
    margin: 15px;
    margin-left: 10px;

    font-size: 15px;
    color: darkblue; 
}