

#container {
  background-color: lightcoral;
  padding: 25px;
  margin: 10px;
  border-left: 5px solid blue;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#nav-content {
  overflow: hidden;
  float: left;
  
}

#container a{ 
  text-decoration: none;
  color: black;

}

#container a:hover {
  background-color: lightpink;
}

#nails { 
  border: 2px solid black;
  padding: 10px;
  background-color: lightsalmon;
  float: left;
}
#contenti {
  display: none;
  position: absolute;
  background-color: limegreen;
  box-shadow: 2px green;
}

#column {
  float: left;
  width: 25px;
  padding: 10px;
  height: 30px;
}

#column a {
  float: none;
  display: block;
  text-align: left;
  padding: 10px;
  background-color: lightsteelblue;
}
#row::after {
   display: table;
}