table {
    border: 3px solid black;
    margin-right: 45px;
}
th , td {
    border: 2px solid black ;
    background-color: aquamarine;
    padding: 10px;

    font-size: 15px;
    color: darkblue; 
}