

#container {
  background-color: lightpink;
  padding: 25px;
  margin: 10px;
  border-left: 10px solid rgb(15,53,104);
    font-size: larger;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}
#nav-content {
  overflow: hidden;
  float: left;
  
}

#container a{ 
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: larger;
 float: left;
 margin-right: 350px;
}

#container a:hover {
  background-color: rgb(255, 130, 151);
}

#nails { 
  border: 2px solid rgb(15,53,104);
  padding: 10px;
  background-color: rgb(249, 249, 249);
  float: left;
  margin-left: 450px;
}
#contenti {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid rgb(15, 53, 102);
  outline-color: black;
  box-shadow: inherit;
  width: 100px;
  height:60px;
  text-align: center;
  margin-top: 20px;
  color:black;

}

#column {
  float: left;
  width: 35px;
  padding: 20px;
  height: 35px;
}

#column a {
  float: none;
  display: block;
  text-align: center;
  padding: 15px;
  background-color: rgb(15, 53, 102);
  width:150px;
  height:45px;


}

#nav-content:hover #contenti {
  display: block;
}
#row:after {
   display: table;
}


.nature { 
  border: 2px solid black;
  padding: 10px;
  float: left;
  
} 

.nature:hover { 
  border: 15px solid green;
} 

.nature img {
width: 250px; 
height:200px;
} 

/* input{
  /* font-size: larger; */
  /* border: 2px solid black; */
  /* padding: 10px; */

/* input:hover {
  border: 5px solid red; */
/* } */


input:in-range {
  border: 2px solid green; } 

input:out-of-range { 
  border: 5px solid red; } 