table {
    border: 3px solid black;
    margin: 50px;
padding: 15px;
      background-color: aquamarine;

}
th , td {
    border: 2px solid black ;

  padding: 15px;
    margin: 15px;
    margin-left: 10px;

    font-size: 15px;
    color: darkblue; 
}



div { 
  display: flex;
  background-color: blue;
  padding: 20px;
  margin-bottom: 100px;
}

div:hover {
  background-color: red;
  transition: background 3s;
}




#tooltip {
  position: relative;
  transform: scale(1, 1);
  background-color: lightpink;
  padding: 5px;
  margin-top: 20px;
}

#tool-tip{ 
  transform: translate(50px , 20px);
  background-color: lightgreen;
  padding: 15px;
  margin-top: 5px;

}