nav ul {
   display: flex;
   align-items: center;
  
    overflow: hidden;
    padding: 25px;
    margin-top: -10px;
  
   margin-left: 25px;
    
 }
 nav ul li {
    display: inline;
    align-items: center;
    height: 40px;
    float: left;
    margin-left: 125px;
    list-style-type: none;
  margin-top: 35px;


 }
 nav ul li a {
    margin-top: -20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Open Sans Regular , sans-serif ;
    font-size: 20px;
    margin-right: 25px;

 }
    
 header {
    background-image:url(BLUE22.avif);
    padding-left: -75px;
    width: 100%;
    height: 100%;
   
    
   
   
 }

span {
    
    margin-left: 35px;
    margin-top: 15px;
    color: rgb(223, 43, 139);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 285px;
    
}


p {

    
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 90px;
    margin-top: 145px;

}

#online {
    margin-left: -2px;
    margin-top: -25px;
}
#p2 { 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}