#name_error {
    visibility: hidden;
    color: red;
}
#age_error {
    visibility: hidden;
    color: red;
}#city_error {
    visibility: hidden;
    color: red;
}

p {
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
}

.slider img {
  width: 80%;
  /* border-radius: 10px; */
}

/* Stilizimi i butonave */
button {
  position: absolute;
  top: 50%; /* vendos në mes vertikalisht */
   /* qendron fiks në mes */

  border: 2px;
  color: rgb(0, 0, 0);
   
  padding: 10px;
  /* cursor: pointer; */
  /* font-size: 20px; */
  /* border-radius: 50%;
  margin-left: -2px; */
}

/* Pozita majtas dhe djathtas */
/* .prev { left: 100px; }
.next { right: 10px; }  */


#right {
    margin-left: -22px;
}


nav {
      background-color: #06206a;
    position: relative;
    padding: 10px;

    
}

/* #myLinks {
    display: none;
   

} */

img {
    width: 35px;
    height: 35px;

}

button {
  
      background-color: #06206a;
      
    display: block;
    position: absolute;
    margin-top: 18px;
    right: 15px;
    top:0;
    padding:10px;

}
/* nav a {
    display: none;
    color: white;
    text-decoration: none;

} */

nav a:hover {
    background-color: rgb(8, 19, 75);
}


    nav a , button{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

nav button.icon {
   
  background-color: #2c4ba1;
    display: block;
    position: absolute;
    margin-top: 18px;
    right: 10px;
    top:0;
} 
.dizajni {
    color: pink;
    background-color: azure;
    padding: 20px;
}

#sort ul li {

color: black;
background-color: aqua;
font-size: 20px;
text-decoration: none;
}
p {
    color: blue;
    font-weight: none;
    font-size: 15px;
}