.gallery3 {
   margin: 10px;
   padding: auto;
   border: 2px solid black;
   float: left;
   margin-left: 48px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 10px;
 }
 .gallery3:hover {
   border: 3px solid rgb(161, 15, 40);
 }
 .gallery3 img {
   width: 300px;
   height: 350px;

  }

  .Conceclear {
    padding: 10px;
    text-align: center;
  }
  


  body {
    background-image: url(images/nudee.webp);
  }



  .blush2 {
   margin: 10px;
   padding: auto;
   border: 2px solid black;
   float: left;
   margin-left: 48px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 10px;
 }
 .blush2:hover{
   border: 3px solid rgb(161, 15, 40);
 }
 .blush2 img {
   width: 300px;
   height: 350px;

  }

  .blsh22 {


    padding: 10px;
    text-align: center;
  }
