nav ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
    overflow: hidden;
    padding: 25px;
    margin-top: -10px;
  
   margin-left: 25px;
    
 }
 nav ul li {
    display: inline;
    align-items: center;
    height: 40px;
    float: left;
    margin-left: 125px;
    list-style-type: none;
  margin-top: 35px;


 }
 nav ul li a {
    margin-top: -20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Open Sans Regular , sans-serif ;
    font-size: 20px;
    margin-right: 25px;

 }
    
 header {
    background-image: url(images/NUDOO66.jpg);
    padding-bottom: 260px;
 }

 span {
    margin-left: 78px;
    margin-top: 65px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}