
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-left: 25px;
    padding: 25px;
    background-color: rgb(42, 14, 95);
}
nav ul li {
  
    float: left;
    list-style-type: none;
    color: white;
   
   
}
nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 45px;

    
    } 

    
body {
    background-color:rgb(42, 14, 95)
}

nav img {
    width: 135px;
    height: 65px;
    float: left;
}

div img {
    position: relative;
    top: -50px; 
  
    width: 753px;
    height: 595px;

    float: right;
    
}
div p {
  font-size: 55px;
    color:rgb(248, 201, 201);
    margin-left: 75px

}

#teksti2 {
    
    color: rgb(196, 187, 187);
    font-size: 18px;
    font-family: Open Sans Regular , sans-serif;
}
button {
    display: block;
    margin-left: 85px;
    align-content: center; background-color: rgb(228, 57, 57);
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    border: 1px solid rgb(228, 57, 57);
    font-family: Open Sans Regular , sans-serif;
    margin-top: 65px;
    

}

#butoni {
    display: flex;
    align-items: end;
    margin-top: -12px;
    padding: 10px 25px;
    
    justify-self: unset;
    background-color: rgb(42, 14, 95);
    border: 2px solid white;

}

.vertical-line {
    background-color: white;
    width: 2px;
    height: 30px;
    margin-right: -135px;


}