
 nav ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
    overflow: hidden;
    padding: 25px;
    margin-top: -10px;
  
   margin-left: 25px;
    
 }
 nav ul li {
    display: inline;
    align-items: center;
    height: 40px;
    float: left;
    margin-left: 125px;
    list-style-type: none;
  margin-top: 35px;


 }
 nav ul li a {
    margin-top: -20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Open Sans Regular , sans-serif ;
    font-size: 20px;
    margin-right: 25px;

 }
    
 header {
    background-image: url(images/NUDOO66.jpg);
    padding-bottom: 260px;
   
    
   
   
 }

span {
    margin-left: 78px;
    margin-top: 65px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
img { 
    float: right;
   margin-right: 155px;
    height: 700px;
    margin-top: -183px;

} 
#hehe4 {
 margin-left: 125px;
 font-size: 40px;
 margin-top: 99px;


}
#online {
    color: rgb(80, 80, 177);
    margin-left: -0.99px;
    padding: 2px;
}




div {
    color: black;
    font-family: Open Sans Regular , sans-serif; 
    margin-left: 125px;
    margin-top: -5px;

}

button {
    display: block;
    margin-left: 125px;
    margin-top: 35px;
    background-color: rgb(80, 80, 177);
    color: white;
    border-color: rgb(80, 80, 177);
    border: 1pc solid rgb(80, 80, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;

 }
 #vertical-line {
    background-color: rgb(80, 80, 177);
    width: 80px;
    height: 4px;
    margin: 5px 130px 0; }



.flexbox {
    background-color: white;
        display:block;
   border-radius: 8px;
  padding: 25px;
  margin:20px;
  overflow: hidden;
  float: left;
  margin-left: 45px;
}

#web {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(80, 80, 177);
    margin-bottom: 20px;
   
    
    
    
} 
 #tekst {
    font-family: Open Sans Regular , sans-serif;
    margin-bottom: 20px;


 }

 #kompjuteri {

    width: 70px;
    height: 60px;
    margin-top: 30px;
   margin-bottom: 20px;
    margin-right: -95px;
    margin-left: 15px;
    float: left;


    
    }

    #butoni3 {
        border: 1px solid rgb(80, 80, 177);
        padding: 10px;
        margin-left: 125px;
        background-color: rgb(80, 80, 177);
        color: white;
        
        border-radius: 8px;
    }


    body {
      background-color: rgb(250, 241, 241);
    }



   #pjesa2   {
    margin-top: 25px;
    margin-left: -35px;
        height: 100%;
        padding: 55px;
    width: 100%;
    padding-left: 255px;
    background-color: white;
    overflow: hidden;
     float: left;
  
 
   
   }

#rreth {
color: rgb(9, 9, 86);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left: -95px;

}

#kushjemi {
    color: rgb(71, 71, 239);
    margin-left: -95px;
    font-size: 35px;
    margin-top: -13px;
}

#vertical-line2 {
   background-color: gray;
    width: 800px;
    margin-left: -95px;
    height: 2px;
}
#Ne {
    color: rgb(65, 64, 64);
    font-size: 25px;
    margin-left: -95px;
    margin-bottom: 55px;
}

#mbledhja {
    width: 455px;
    height: 300px;
    margin-right: 300px;
    margin-top: -10px
}
.buttoni55 {
    margin-right: 155px;
    background-color: rgb(22, 22, 139);
    padding: 15px 35px;
    border-radius: 10px;
    color: white;
    margin-left: -95px;
    margin-bottom: -25px;
   
}

   