article > p { 
    background-color: red;
    padding: 20px;
     margin: 30px;
}
div > p {
    background-color: rgb(0, 255, 242);
    padding: 20px;
     margin: 30px;
}
 article ~ p {
    background-color: greenyellow;
    padding: 20px;
    margin: 30px;
 }

 article + p {
    background-color: pink;
    padding: 20px;
    margin: 30px;
 }

 input:in-range {
    border: 2px solid green;
 }
 input:out-of-range {
    border: 2px solid red;
 }

 nav  {
    
    padding: 20px;
    margin: 20px;

 }

 nav a:hover { 
   background-color: rgb(45, 0, 209);
 }

table ,th ,td { 
   border: 3px solid black ;
   background-color: rgb(201, 115, 169);
   padding: 20px;
   margin: 35px; 
 
}
 ol { 
   list-style-type: lower-alpha;
   background-color: moccasin;
   border-left: 5px solid green;
   padding: 15px 25px;
   margin: 20px; 
   font-size: 20px;
   color: black;

  
 }
ol li { 
   border-bottom: 2px solid grey;
   padding: 8px;
}