

body{
    background-image: url(images/wallpaper.jpg);
   
}
nav ul {
    padding: 35px;
    margin: 10px;
 
    overflow: hidden;
}

nav ul li {
    float: left;
    list-style-type: none;
 
    
}
nav ul li a {
    text-decoration: none;
    margin-left: 125px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
    
    
}
nav img {
    float: left;
    width: 65px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;

}
