

body{
    background-image: url(images/nudee.webp);
   
}
nav ul {
    padding: 35px;
     overflow: hidden;
     
}

nav a { position: relative;
top: 55px;}

nav ul li {
    float: right;
    list-style-type: none;
 
    
}
nav ul li a {
    text-decoration: none;
margin-right: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   margin-left: 125px;



    
    
}


   


#foto3 {
 
    width: 499px;
    height: 399px;
  
 
    float: right;
    margin-right: 85px;

}
 #logo99 {
    
  width:105px;
  height:100px;
  border-radius: 45px;
  padding: 10px;
margin-bottom: 15px;
  




 }

 p {

    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
padding: 15px;
display: block;
margin: 110px; } 



 
 

 #logo12 {
    font-size: larger;
    color: rgb(161, 15, 40);
    box-shadow: inset;
   margin-left: 395px;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   margin-top: 35px;
 }


 .gallery1 {
   margin: 10px;
   padding: auto;
   border: 2px solid black;
   float: left;
   margin-left: 48px;
   margin-top: 20px;
 }
 .gallery1:hover {
   border: 3px solid rgb(161, 15, 40);
 }
 .gallery1 img {
   width: 300px;
   height: 350px;

  }

  .Conceclear {

    padding: 10px;
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .gallery2 {
   margin: 10px;
   padding: auto;
   border: 2px solid black;
   float: left;
   margin-left: 48px;
   margin-top: 35px;

 }
 .gallery2:hover {
   border: 3px solid rgb(161, 15, 40);
 }
 .gallery2 img {
   width: 300px;
   height: 350px;

  }