



#horizontal ul {
   background-color: rgb(234, 154, 204);
   padding: 25px;
list-style-type: none;
overflow: hidden;
border-left: 15px solid rgb(130, 8, 100);
font-size: 15px;

   
}

#horizontal ul li { 
   
   float: right;
   
}

#horizontal ul li a { 
   color:black;
   padding: 35px;
   margin: 125px;
   text-decoration: none;
   font-size: 20px;

}

#horizontal ul li a:hover { background-color: rgb(203, 130, 164);}


#horizontal ul li a:active { background-color: rgb(199, 175, 222);}



article > p { 
   background-color: lightgreen;
   border-left: 15px solid green;
   padding: 25px;
   margin-bottom: 30px;
   font-size: 17px;
}


article ~ p {
   background-color: rgb(189, 87, 87);
   border-left: 15px solid rgb(106, 6, 6);
   padding: 25px;
   margin-bottom: 30px;
   font-size: 17px;
}
h1 { text-align: left;
   padding: 35px;
margin: top 30px; 
font-size: 50px;}

img { 
padding: 35px;
margin-top: 25px; 
margin-left: 25px;

}