



#horizontal ul {
   background-color: rgb(234, 154, 204);
   padding: 25px;
list-style-type: none;
overflow: hidden;
border-left: 15px solid rgb(130, 8, 100);
font-size: 15px;

   
}

#horizontal ul li { 
   
   float: right;
   
}

#horizontal ul li a { 
   color:black;
   padding: 35px;
   margin: 125px;
   text-decoration: none;
   font-size: 20px;

}

#horizontal ul li a:hover { background-color: rgb(203, 130, 164);}


#horizontal ul li a:active { background-color: rgb(199, 175, 222);}



article > p { 
   background-color: lightgreen;
   border-left: 15px solid green;
   padding: 25px;
   margin-bottom: 30px;
   font-size: 17px;
}


article ~ p {
   background-color: rgb(189, 87, 87);
   border-left: 15px solid rgb(106, 6, 6);
   padding: 25px;
   margin-bottom: 30px;
   font-size: 17px;
}
h1 { text-align: left;
   padding: 35px;
margin: top 30px; 
font-size: 50px;}

img { 
padding: 35px;
margin-top: 25px; 
margin-left: 25px;

}

#faqja2 h1 { text-align: left;
   padding: 25px;
margin: top 30px; 
font-size: 50px;
border-left: 20px solid rgb(12, 11, 50);
color: rgb(2, 2, 35);

}
figcaption { 
   padding: 10px;
   font-size: 15px;
   text-align: left;
   margin-left: 10px;
}
#faqja2 img { 
   padding: 15px;
   position: relative;
   left: 10px
}

#vertical ul { 
   list-style-type: none;
   padding: 25px;
   overflow: hidden;
   background-color: rgb(152, 83, 93);
   border-left: 15px solid rgb(58, 33, 46); 
   border-right: 15px solid rgb(58, 33, 46); 


}
 #vertical ul li { 
  float: left;
 font-size: 20px;
 }

#vertical ul li a {
    text-decoration: none;
    padding: 35px;
    margin: 135px;
    color: black
   
}

#vertical ul li a:hover { 
   background-color: rgb(174, 139, 96);
}
