article > p { 
    background-color: red;
    padding: 20px;
     margin: 30px;
}
div > p {
    background-color: yellow;
    padding: 20px;
     margin: 30px;
}
 article ~ p {
    background-color: greenyellow;
    padding: 20px;
    margin: 30px;
 }

 article + p {
    background-color: pink;
    padding: 20px;
    margin: 30px;
 }

 input:in-range {
    border: 2px solid green;
 }
 input:out-of-range {
    border: 2px solid red;
 }

 nav > a {
    color: chocolate;
    padding: 20px;
 }