#hehe { 
    height: 350px;
    width: 300px;
    background-color: lightblue;
    float: left;
    padding: 10px;
    margin: 5px;
}

#nav2  {
    background-color: lightpink;
    padding: 20px;
    width:auto;
    height: 35px;
    overflow: hidden;


}
 #nav2 a {
    float: left;
    color: black;
    text-decoration: none;
    padding: 25px;
    margin-right: 5px;
    overflow: hidden;

 }

 #super-content {
    overflow: hidden;
    float: left;
 }

 #butoni {
    padding: 15px;
    border: 3px solid black;
   
    margin-bottom: 5px;

 }

 #supercontent2 {
    display: none;
    position: absolute;
    background-color: lime;
    padding: 20px;
 }


 
#supercontent a:hover #supercontent2:hover {
    display: block;

}
 #column1 {
   float: left;
   width: 50%;
   padding: 10px;
   background-color: bisque;
   height: 250px;
  }


  #column1 a { 
   float:none;
   color: white;
   padding: 15px;
   text-decoration: none;
   display: block;
   text-align: left; }

#supercontent:hover #supercontent2 {
    display: block;

}

#row1:after {
    display: table;
}

