article p {
    background-color: red;
    color: white;
    padding: 10px;

}


article div p {
 background-color: blue;
 padding: 10px;

}


article > p{
    background-color: rgb(255, 0, 157);
    padding: 20px;
}

article ~ p {
    background-color: blueviolet;
    padding: 20px;
}

article + p {

    background-color: orange;
    padding: 20px;
}

input:in-range {
    border: 2px solid green ;
}

input:out-of-range {
    border: 2px solid red ;

}

main p:first-child{ 
    background-color: rgb(0, 255, 76);
    padding: 10px
}

#link:hover{
    background-color: purple ;
}
 nav a{

    padding: 20px;
    margin: 20px; 
 }

 nav{

   background-color: aqua;
   padding: 20px;
 }

 nav a:hover {

    background-color: rgb(53, 167, 167)
 }

nav a:active { 

    background-color: brown;
}

nav a:visited{
    color: yellow;
}