div#div1{ 
    position: static;
    border: 3px solid black ;
    width: 250px;
    height: 250px;
    padding:  20px;
    
}
div#div2{ 

    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 100px; 

}
div#div3 {
    position:fixed;
    border: 3px solid black ;
    width:  250px;
    height: 250px;
    margin-top: 100px;
    top:100px;
    right: 150px;
    
}


#parent {
     position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;

 }

 #child { 
    position: absolute;
    background-color: rgb(207, 57, 150);
    right: 100px;
    top: 100px; 
    padding: 25px;
 }

 #horizontal ul { 
    list-style-type: none;
    background-color: rgb(236, 121, 140);
    margin-bottom: 25px;
    overflow: hidden;
    padding: 35px;
 }
 #horizontal ul li { 
    float: left;
 }

 #horizontal ul li a { 
    color:white;
    padding: 35px;
    text-decoration: none;
    margin: 50px;
    
 }

 #horizontal ul li a:hover {
    background-color: lightpink;
 }

 #horizontal ul li a:active {
    background-color: hotpink;
 }


 #vertical ul { 
    list-style-type: none;
    background-color: rgb(52, 129, 129);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 25px;

 }

 #vertical ul li { 
    padding: 25px;
 }

 #vertical ul li a { 
    color: black;
    padding: 25px;
    text-decoration: none;
    margin: 15px;
 }

 #dropdown { 
   background-color: lightpink;
   overflow: hidden;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #dropdown a { 

padding: 15px;
color:blue;
font-size: 16px;
float: left;
text-decoration: none;
text-align: center;
 }


 #nav-dropdown { 
   float: left;
overflow: hidden;
 }


 #dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 15px;
   background-color: inherit;
   font: inherit;
  }

  #dropdown a:hover, #nav-dropdown:hover { 
   background-color: rgb(214, 182, 187);
  }

  #dropdown-content { 
   display: none;
   position: absolute;
   background-color: beige;
   width: 100%;
   box-shadow: 10x black;
  }

  #column {
   float: left;
   width: 50%;
   padding: 10px;
   background-color: bisque;
   height: 250px;
  }

  #column a { 
   float:none;
   color: white;
   padding: 15px;
   text-decoration: none;
   display: block;
   text-align: left;

  }

  #nav-dropdown:hover #dropdown-content {
   display: block;
  }
  #row::after {
   display: table;
  }

