@media(min-width: 600px) {
    body {
        background-color: rgb(74, 74, 125);
        color: white;
    }
}

@media(max-width: 600px) {
     img {

display: none;

    }
}

p {

    column-count: 5;
}