body  {
    background-color: rgb(226, 185, 191);
  
}

nav ul  {
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    list-style-type: none;
}

nav ul li {
    float: right;
}


nav ul li a {

    font-size: large;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 10px; 
    margin-left: 25px;
    margin-bottom: 15px;
}

p {
   
 
    font-family: Titilliium Web , sans-serif;
    margin-left: 45px;
    font-size: larger;
}

#hihi {
    background-color: mediumvioletred;
    padding: 5px;
  margin-bottom: 35px;
}

#prgf1 {
    text-align: center;
    font-size: 25px;
   margin-top: 155px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#products1 {
    background-color: rgb(231, 157, 168);
    padding: 10px;
    margin: auto;
    
}