
  header{ 
    background-image: url(images/natureheader.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
  
   
  } 
    body {
        margin: 0px;
    }

    #X {
        position: absolute;
         font-family: Arial, Helvetica, sans-serif; 
        top: -0.5px;
        margin-right: -20px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: black;
        padding: 20px;
        right: 20px;
        color: #fff;
    }
    #login {
        margin: 100px auto 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
        border-radius: 15px;
        
    
    }

    h1 {
        color: black;
        font-size: 44px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #forms {   
        border-radius: 25px;
        backdrop-filter: blur(8px);
        /* background-image:  linear-gradient(
        rgba(255, 255, 255, 0.5),   
        rgba(0,0,0,0.5)), url('images/natureheader.jpg'); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        padding: 75px;
        padding-left: 120px;
        padding-right: 120px;
        
    }

    input[type="username"], input[type="password"] {
        background: transparent;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        padding: 20px 0;
       


    }

    input.transparent::placeholder {
        color: black;
    }

    input.transparent {
        color:#fff;
    }
    



/* #circle {
    
   display: flex;
   flex-direction: column;
   color: #fff;
    margin-top: 10px;
    padding: 3px;
    margin-left: -147px;
    width: 8px;
    height:5px;
    margin-top: 15px;
    background-color: #fff;
   
} */


#rememberMe {
    
   
  margin-top: 14px;
    margin-left: -50px;
    color: black;
    font-family: sans-serif; 
    font-size: 13px;
  
}

#butoni45 {
    
    width: 175px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 15px;
    margin-top: 14px;
    margin: 10px auto 0px;
    background: black;
    border: 2px solid black;
    color: #fff;
     font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#register  {

    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
}