body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgb(9, 9, 9);
}

 nav ul {
    padding: 35px;

    color: rgb(7, 7, 7);
    list-style-type: none;
   
    margin-bottom: 25px;
    overflow: hidden;
 }
 nav ul li a {
    text-decoration: none;
    padding: 35px;
    margin-right: 70px;
    color: rgb(12, 12, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
position: relative;
margin-top: 85px;

}
nav ul li {
    float: right;
}
nav img { 
    width: 170px;
    height: 115px;
    float: left;
    margin-left: 25px;
}

 #banner { 
    width: 320px;
    height: 320px;
    align-items: center;
    display: block;
    border-radius: 10px;  
      margin: 0 auto;
      margin-top: 65px;
    
 }
 p {
    color: rgb(5, 5, 5);
    font-size: 65px;
   margin-left: 60px;
   font-family: sans-serif;

 
    } 
    

 
 #paragrafi1 {
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    

 }
 #paragrafi2 {
    font-size: large;
    color: palevioletred;
    text-align: center;
    margin-bottom: 65px;

 }
 


 .gallery1 {
   margin: 10px;
   padding: auto;
   border: 2px solid black;
   float: left;
   margin-left: 48px;
 }
 .gallery1:hover {
   border: 5px solid palevioletred;
 }
 .gallery1 img {
   width: 300px;
   height: 320px;

  }
 
 .iphone17 {
   padding: 10px;
   text-align: center;
   color: black;
 }
 body {
   background-image: url(images/PINKKK.jpg);
 }

 
 