body {
 background-color: rgb(202, 196, 196);
}

#divi {
       margin: 125px auto 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

#create {
    background-color: white;
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px gray;
}


input {
    margin-bottom: 15px;
    margin-top: 3px;
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border:  1px solid rgb(202, 196, 196);
}

label {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    font-size: 35px;
}

#acc {
 background-color: rgb(47, 47, 201);
 color: white;
 border: none;
 margin-top: 25px;
 padding: 15px 20px;
 border-radius: 5px;
 width: 100%;
}

#acc:hover {
    background-color: blue;
}