
  header{ 
    background-image: url(images/natureheader.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
  
   
  } 
    body {
        margin: 0px;
    }

    #login {
        margin: 260px auto 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
        border-radius: 15px;
    
    }

    h1 {
        color: #fff;
        font-size: 44px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #forms {   

        border-radius: 25px;
        background-image:  linear-gradient(
        rgba(255, 255, 255, 0.5),   
        rgba(0,0,0,0.5)), url('images/natureheader.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        padding: 75px;
        padding-left: 120px;
        padding-right: 120px;
        
    }

    input[type="username"], input[type="password"] {
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        width: 100%;
        padding: 20px 0;


    }

    input.transparent::placeholder {
        color: #fff;
    }

    input.transparent {
        color: #fff;
    }
    
/* 
    #circle0 {
        width: 100%;
       
        justify-content: left;
        margin-top: 20px;
      
    }
    #circle1 {
       width: 13px;
       padding: 2px;
       height: 10px;
       margin-top: 5px;
       background-color: #fff;
      color: #fff;
      margin-left: -35px;
      
    }
#bardh {

    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   margin-top: -3px;
    
    
} */
 #checkbox {
    color: #fff;

}