body {
    background-image: url(images/wallpaper.avif);
    
}

header {
    background-color: #fff;
    border-radius: 45px;
    margin: 100px auto 0;
    margin-left: 10px;
    margin-right: 10px;

    padding: 100px;
    margin-bottom: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    margin-top: -120px;
    float: left;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

p {
    margin-top: -55px;
    
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(9, 176, 9);
    margin-left: -65px; 
}
span {
    color: rgb(5, 107, 5);
    font-weight: bold;
    margin-right: 660px;
 }

 #info {
    background-color: orange;
    padding: 15px;
    border-radius: 25px;
 }

 img {
  float: right; 
  margin: 10px;
  margin-top: -480px;
  width: 540px;
 
 }


 h2 {
    color: black;
    font-size: 75px;
    margin-top: 75px;
 }
 #lorem {
    font-size: 25px;
    color: black;
    margin-left: 8px;
   margin-top: 20px;
 }

 #btn {
    background-color: orange;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
 }