body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

 nav ul {
    padding: 35px;

    color: white;
    list-style-type: none;
    background-color:rgb(202, 140, 194);
    margin-bottom: 25px;
    overflow: hidden;
 }
 nav ul li a {
    text-decoration: none;
    padding: 35px;
    margin-right: 70px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
nav ul li {
    float: left;
}
nav img { 
    width: 70px;
    height: 80px;
    float: left;
}

 #banner { 
    width: 300px;
    height: 300px;
    align-items: center;
    display: block;
    margin: 0 auto;
    
 }
 p {
    color: aliceblue;
    font-size: 85px;
    text-align: center; } 
    

 
 #paragrafi1 {
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;

 }
 #paragrafi2 {
    font-size: large;
    color: rgb(202, 140, 194);

 }
 


 .gallery1 {
   margin: 10px;
   padding: auto;
   border: 2px solid white;
   float: left;
   margin-left: 48px;
 }
 .gallery1:hover {
   border: 3px solid palevioletred;
 }
 .gallery1 img {
   width: 300px;
   height: 350px;

  }
 
 .iphone17 {
   padding: 10px;
   text-align: center;
   color: white;
 }