nav ul {
  
    padding: 35px;
     overflow: hidden;
     background-color: rgb(144, 74, 154);
     margin-top: 15px;
     
}




nav ul li {
    display: flex;
    float: right;
    list-style-type: none;
    align-content: space-between;
 
    
}
nav ul li a {
    margin-top: 15px;
    text-decoration: none;
    margin-left: 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

  


    
}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 95px;
    
    
}


body {
    background-color: rgb(144, 74, 154);
    margin-bottom: 165px;
    padding: 36px;
}

#oo {
    text-align: center;
    font-size: 45px;
    margin-top: 155px;
    flex-wrap: wrap;
    align-content: space-around;
    color:white;
    font-family: Montserrat , sans-serif;
   
}


button{
    display: block;
    margin: auto;
    align-content: center;
    padding: 15px 35px;
    color: white;
    background-color: rgb(255, 111, 0);
    font-size: large;
    border: solid 0px orange;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    
}
img {
    margin-top: -30px;
}